// production
var OAuthClients = {
    "sandbox": {
        "clientKey": "S7vVnYUW1O2UNF5WqE4BahVfFJca",
        "callbackUrl": "https://togo.agaveapi.co/auth/",
        "scope": "PRODUCTION",
        "projectUrl": "https://agaveplatform.org/",
        "supportUrl": "https://support.agaveapi.co",
        "signupUrl": "https://sandbox.agaveplatform.org/create_account"
    }
};